body {
    padding: 10px;
    gap:10px;
    font-size: 20px;
    color: lavender;
    background-color: #dcdcdc;
}

.box1{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;    
    align-items: center;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    max-width: 84%;   
}




.title {
    background-color: rgb(193, 119, 216);
    border: 1px solid rgb(92, 146, 217);
    border-radius: 10px;
    padding: 5px;
    max-width: 60%;
    margin: 10px auto;
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
    gap: 140px;
    font-size: smaller;
    font-family: "Comfortaa", sans-serif;
    }


    .box {
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        justify-content: center;    
        align-items: center;
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        max-width: 90%;
    } 

.section1 img {
    align-items: center;
    border-radius: 200px;
    border: 10px solid #f5baf7;
}
.section1 h2, h1 {
    padding: 0%;
    margin: 0px auto;
}
img {
   
    width: 300px;
    height: auto;
    border: 10px solid #cea0ff;
    border-radius: 10px;
    gap: 40px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1 {
border: 1px solid #b862ff;
background-color: #ffd2e6;
border-radius: 10px;
color: #252d30;
max-width: 70%;
padding: 10px;
gap: 10px;
display: flex;
flex-direction: column;
align-items: center;
font-size: smaller;
}
.section1 h1 {
    font-size: 30px;
    padding: 30px;
    margin: 10px auto;
    background-color: #cea0ff;
    border-radius: 20px;
    color: #ffffff;
}
button {
    width: 120px;
    height: 50px;
    background-color: #ffbfff;
    border: 10px solid #ffedff;
    border-radius: 20px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: bolder;
    color: #ff8aff;
}
button:hover {
    color: #ff44ff;
    transition-property: all;
    transition-duration: 500ms;
}
a {
    color: #ff8aff;
    background-color: #ffedff;
    border-radius: 10px;
    padding: 10px ;

}
a:hover {
    color: #ff44ff;
    transition-property: all;
    transition-duration: 500ms;
}

.box2 {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-between;    
    align-content:center;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    max-width: 90%;
}
.gallery {
    display: flex;
    flex-direction: column;
border: 1px solid #26a7f7;
background-color: #ffd2e6;
border-radius: 10px;
color: rgb(37, 45, 48);
max-width: 94%;
padding: 10px;
gap: 20px;
font-size: smaller;
margin: 20px auto;
font-family: "Comfortaa", sans-serif;
}



.footer {
border: 1px solid #e27aff;
background-color: #ffd2e6;
border-radius: 10px;
color: rgb(37, 45, 48);
max-width: 44%;
padding: 10px;
margin: 20px auto;
gap: 140px;
display: flex;
justify-content: center;
font-size: smaller;
font-family: "Comfortaa", sans-serif;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

li {
    list-style-type: "\2728";
}


@media (max-width:1100px) {
    .box2 {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        justify-content: center;    
        align-items:flex-start;
        text-align: center;
        font-family: "Comfortaa", sans-serif;
        max-width: 90%;
        gap: 10px;
    }
    .box1 {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
    .title {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
    
}


@media (max-width:800px) {
    h1 {
        border-radius: 300px;
    }
    .box1 {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
    .title {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
    .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .section1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        border: 10px solid pink;
        margin: 0px auto;
        width:50%;
    }
  .gallery {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;    
    align-items:center;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    max-width: 95%;
    gap: 1px;
}

.box2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;    
    align-content: center;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    max-width: 90%;
}
}



@media (max-width:500px) {
    .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .section1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 200px;
        border: 10px solid #ffc0ca;
        margin: 0px auto;
        width:90%;
    }
    
    .box1 {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
    .title {
        align-items: center;
        max-width: 90%;
        flex-direction: column;
        align-content: space-around;
    }
}

@media (max-width:300px) {
    .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    img {
        display: block;
        max-width:200px;
    }
    .box1, .title {
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        max-width: 90%;
    }
}


@media (prefers-color-scheme: dark) { 
    body {
        background-color: #0b0e0f;
        color: #f7d6d6;
    }
    .section1 {
    background-color: #252d30 ;
    color: #fbd4d4;
    
    }
    .section1 h1 {
        background-color: #481657;
        border: 1px solid #385985;
        
    }
    .section1 img {
        
        border: 10px solid #473885;
        
    }
    .title {
        background-color: #481657;
        border: 1px solid #385985;
        
    }
    .gallery {
        background-color: #6f2686;
        border: 1px solid #393885;
        color: #ffd7ff;
        
    }
    .footer {
        background-color: #6f2187;
        border: 2px solid #3a12ee;
        
    }
}